@import "../../../variables.scss";

.option-buttons-container {
  display: flex;

  max-width: $char-preview-width;

  margin-top: 1rem;
}

.option-button {
  @include primary-border;
  @include main-font;

  margin: 0 0.25rem;

  background: $primary-color;

  &--active {
    background: $secondary-color;
  }
}

.items-container {
  width: 50px;

  background: $secondary-color;
}
