<div class="option-buttons-container">
  <button
    *ngFor="let option of options"
    class="option-button"
    (click)="setChosenOption(option)"
    [ngClass]="{ 'option-button--active': option === chosenOption }"
  >
    {{ option }}
  </button>
</div>

<div class="items-container">
  options for: {{ chosenOption }}
  <div cdkDrag style="background: red; height: 50px; width: 50px"></div>

  <img cdkDrag src="https://en.js.cx/clipart/ball.svg" />
  <img
    cdkDrag
    src="https://svgsilh.com/svg/145232.svg"
    style="height: 50px; width: 50px"
  />
</div>
<div id="app"></div>
