@import "../../../variables.scss";

.option-buttons-container {
  display: flex;

  margin: 0 1rem;
}

.option-button {
  margin-bottom: -1px;
  @include primary-border;
  @include main-font;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  background: $primary-color;

  &--active {
    border-bottom: none;

    color: $text-primary-color;
    background: $secondary-color;
  }
}

.items-container {
  min-height: 100px;
  width: 500px;

  padding: 1rem;

  background: $secondary-color;

  @include primary-border;
}

[draggable="true"] {
  position: absolute;
  top: 0;
  left: 0;
}
