<div class="option-buttons-container">
  <ng-container *ngFor="let option of DressupCategoriesValues">
    <button
      class="option-button"
      (click)="setChosenOption(option)"
      [ngClass]="{ 'option-button--active': option === chosenOption }"
    >
      <img src="https://i.imgur.com/Mo1UaS3.png" />
      {{ option }}
    </button>
  </ng-container>
</div>

<div class="items-container">
  options for: {{ chosenOption }}
  <!-- <div cdkDrag style="background: red; height: 50px; width: 50px"></div>

  <img cdkDrag src="https://en.js.cx/clipart/ball.svg" /> -->

  <!-- <div draggable="true"> -->

  <img cdkDrag src="https://en.js.cx/clipart/ball.svg" />

  <img
    draggable="true"
    src="https://www.publicdomainpictures.net/pictures/130000/velka/red-box-background.jpg"
    class="test-item"
    style="height: 50px; width: 50px"
  />

  <img
    draggable="true"
    class="test-item"
    src="https://svgsilh.com/svg/145232.svg"
    style="height: 50px; width: 50px"
  />
  <!-- </div> -->
</div>
<div id="app"></div>

<div id="capture" style="padding: 10px; background: #f5da55">
  <h4 style="color: #000">Hello world!</h4>
</div>

<button (click)="exportImage()">ssssssssssssss</button>

<img id="hidden-placeholder-image" style="opacity: 0" />
