$text-primary-color: rgb(50, 69, 133);

$main-background-color: #c2dce6;
$secondary-background-color: darken($main-background-color, 20%);

$primary-color: darken($main-background-color, 5%);
$secondary-color: lighten($main-background-color, 5%);

$char-preview-width: 250px;
$global-border-radius: 5px;

@mixin main-font {
  font-family: VT323-Regular;
}

@mixin primary-border {
  border: 1px solid $text-primary-color;
  border-radius: $global-border-radius;
}
